.main {
  font-family: "Montserrat", sans-serif;
  height: 20rem;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.showImg {
  padding: 1rem;
  width: 50%;
}

.showGlimpse {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
